<footer class="footer">
  <div class="footer-top">
    <p>COPYRIGHT @ 2022 QUIZ APP LTC</p>
  </div>
  <div class="footer-bot">
    <img src="/images/facebook.png" alt="" />
    <img src="/images/instagram.png" alt="" />
    <img src="/images/linkedin.png" alt="" />
    <img src="/images/github.png" alt="" />
    <img src="/images/twitter.png" alt="" />
  </div>
</footer>
