<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/createquiz.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;1,300;1,400&family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />
    <title>Create Page</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <section class="header">
      <h1 class="header-text">Create a Quiz</h1>
      <img class="header-pencil" src="/images/pencil.png" alt="" />
    </section>
    <section class="quiz-container">
      <div class="main">
        <form class="quiz-form" method="POST" action="/quizzes">
          <div class="container">
            <h2>Quizz Name:</h2>
            <input type="text" name="name" id="name" />
          </div>
          <div class="container">
            <h2>Questions:</h2>
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />
            <h4>Add Question</h4>
            <input type="text" name="quizquestion1" id="quizquestion1" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question1correct"
              id="question1correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question1options"
              id="question1options"
              value="72,55,"
            />
          </div>
          <div class="form-question1">
            <img src="/images/plus.png" alt="" />
            <h4>Add Question</h4>
            <input
              class="hidden"
              type="text"
              name="question2name"
              id="question2name"
            />
            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question2correct"
              id="question2correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question2options"
              id="question2options"
              value="72,55,"
            />
          </div>
          <div class="form-question1">
            <img src="/images/plus.png" alt="" />
            <h4>Add Question</h4>
            <input
              class="hidden"
              type="text"
              name="quizquestion3"
              id="quizquestion3"
            />
            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question3correct"
              id="question3correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question3options"
              id="question3options"
              value="72,55,"
            />
          </div>
          <div class="form-question1">
            <img src="/images/plus.png" alt="" />
            <h4>Add Question</h4>
            <input
              class="hidden"
              type="text"
              name="quizquestion4"
              id="quizquestion4"
            />
            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question4correct"
              id="question4correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question4options"
              id="question4options"
              value="72,55,"
            />
          </div>
          <div class="form-question1">
            <img src="/images/plus.png" alt="" />
            <h4>Add Question</h4>
            <input
              class="hidden"
              type="text"
              name="quizquestion5"
              id="quizquestion5"
            />
            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question5correct"
              id="question5correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question5options"
              id="question5options"
              value="72,55,"
            />
          </div>
          <div class="form-question1">
            <img src="/images/plus.png" alt="" />
            <h4>Add Question</h4>
            <input
              class="hidden"
              type="text"
              name="quizquestion6"
              id="quizquestion6"
            />
            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="question6correct"
              id="question6correct"
            />
            <h4>Options</h4>
            <input
              class="hidden"
              type="text"
              name="question6options"
              id="question6options"
              value="72,55,"
            />
          </div>
          <button>CREATE</button>
        </form>
      </div>
    </section>
  </body>
</html>
