<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/createquiz.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;1,300;1,400&family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />
    <title>Create Page</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>

    <section class="header">
      <h1 class="header-text">Create a Quiz</h1>
      <img class="header-pencil" src="/images/pencil.png" alt="" />
    </section>
    <section class="quiz-container">
      <div class="main">
        <form class="quiz-form" method="POST" action="/quizzes">
          <div class="container">
            <h2>Quizz Name:</h2>
            <input type="text" name="name" id="name" />
          </div>
          <div class="container">
            <h2>Questions:</h2>
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />

            <h4>Add Question 1</h4>

            <input type="text" name="question1" id="question1" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="awnser-correct1"
              id="awnser-correct1"
            />

            <h4>Options 1</h4>

            <input
              class="hidden"
              type="text"
              name="question1options1"
              id="question1options1"
            />
            <h4>Options 2</h4>
            <input
              class="hidden"
              type="text"
              name="question1options2"
              id="question1options2"
            />
            <h4>Options 3</h4>
            <input
              class="hidden"
              type="text"
              name="question1options3"
              id="question1options3"
            />
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />
            <h4>Add Question 2</h4>
            <input type="text" name="question2" id="question2" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="awnser-correct2"
              id="awnser-correct2"
            />

            <h4>Options 1</h4>
            <input
              class="hidden"
              type="text"
              name="question2options1"
              id="question2options1"
            />
            <h4>Options 2</h4>
            <input
              class="hidden"
              type="text"
              name="question2options2"
              id="question2options2"
            />
            <h4>Options 3</h4>
            <input
              class="hidden"
              type="text"
              name="question2options3"
              id="question2options3"
            />
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />
            <h4>Add Question 3</h4>
            <input type="text" name="question3" id="question3" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="awnser-correct3"
              id="awnser-correct3"
            />

            <h4>Options 1</h4>
            <input
              class="hidden"
              type="text"
              name="question3options1"
              id="question3options1"
            />
            <h4>Options 2</h4>
            <input
              class="hidden"
              type="text"
              name="question3options2"
              id="question3options2"
            />
            <h4>Options 3</h4>
            <input
              class="hidden"
              type="text"
              name="question3options3"
              id="question3options3"
            />
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />
            <h4>Add Question 4</h4>
            <input type="text" name="question4" id="question4" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="awnser-correct4"
              id="awnser-correct4"
            />

            <h4>Options 1</h4>
            <input
              class="hidden"
              type="text"
              name="question4options1"
              id="question4options1"
            />
            <h4>Options 2</h4>
            <input
              class="hidden"
              type="text"
              name="question4options2"
              id="question4options2"
            />
            <h4>Options 3</h4>
            <input
              class="hidden"
              type="text"
              name="question4options3"
              id="question4options3"
            />
          </div>
          <div class="form-question1">
            <img src="/images/minus.png" alt="" />
            <h4>Add Question 5</h4>
            <input type="text" name="question4" id="question4" />

            <h4>Correct</h4>
            <input
              class="hidden"
              type="text"
              name="awnser-correct5"
              id="awnser-correct5"
            />

            <h4>Options 1</h4>
            <input
              class="hidden"
              type="text"
              name="question4options1"
              id="question4options1"
            />
            <h4>Options 2</h4>
            <input
              class="hidden"
              type="text"
              name="question4options2"
              id="question4options2"
            />
            <h4>Options 3</h4>
            <input
              class="hidden"
              type="text"
              name="question4options3"
              id="question4options3"
            />
          </div>
          <button>CREATE</button>
        </form>
      </div>
    </section>
  </body>
</html>
