<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <!-- App CSS -->
       <link rel="stylesheet" href="/styles/homestyle.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;1,300;1,400&family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />


    <title>Smarty Party</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>

    <section class="home-header">
      <div class="home-header-top">

        <h1 class="home-header-title">Welcome to Smarty Party</h1>
        <img class="home-header-top-img" src="/images/notepad.png" alt="book" />
      </div class="home-header-middle">
      <span><h3 class="home-header-middle-title"> What is Smarty Party?</h3></span>
     <span class="home-header-middle-text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo ducimus quam omnis deleniti! Voluptatem ullam repellendus commodi fugiat. Distinctio, possimus incidunt? Animi accusamus eligendi asperiores consequatur nihil a non, dicta veritatis cupiditate similique voluptates, cumque in explicabo temporibus delectus nulla qui corporis commodi corrupti? Nobis quisquam repellat excepturi veritatis!
    </div>
    <form action="/quizzes/create">
      <main>
        <button><span>Create Quiz</span></button>
    </main>
  </form>

    <form action="/quizzes">
      <main>
        <button><span>All Quizzes!</span></button>
    </main>
    </form>
    </section>
    <%- include('partials/_footer') %>
  </body>
</html>
