<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/resultsPage.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;1,300;1,400&family=Spicy+Rice&display=swap"
    rel="stylesheet" />
  <title>Create Page</title>
</head>

<body>
  <%- include('partials/_navbar') %>
    <div class="header">
    </div>
    <section class="results-container">
      <div class="results-title"></div>
      <h1>Results</h1>
      </div>
      <div>
        <h1>Score</h1>
      </div>
    </section>
    <%- include('partials/_footer') %>
</body>

</html>