<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>

    <div class="all-quizzes-container">
      <div class="single-quiz">
        <div>
          <h1>Quizname:<%= quiz %></h1>
          <div class="questions">
            <p>question 1</p>
            <p>questions 2</p>
            <p>questions 3</p>
            <p>questions 4</p>
            <p>questions 5</p>
            <p>questions 6</p>
          </div>

          <p>By UserName</p>
        </div>

        <form action="/actually">
          <button class="bounce3">TAKE QUIZ</button>
        </form>
      </div>
    </div>
    <%- include('partials/_footer') %>
  </body>
</html>
