/* BODY */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  background-color: rgba(248, 238, 238, 0.97);
  background-image: url("../images/paperbackGround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.all-quizzes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1700px;
  height: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-image: url(../images/quizbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Spicy Rice", cursive;
  font-weight: 100;
  text-align: center;
}

.single-quiz {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
  height: 450px;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 5vh;
  background-color: rgb(205, 201, 201);
}

.quizTitle {
  font-size: 40px;
}

.infoContainer {

}

.questions {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 20px;
}

button {
  padding: 20px;
  background-color: lightblue;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

.bounce3 {
  animation: bounce3 1s ease infinite;

  @keyframes bounce3 {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0px);
    }

    40% {
      transform: translateY(-10px);
    }

    60% {
      transform: translateY(-6px);
    }
  }
}
