/* BODY */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100vh;

  background-color: rgba(248, 238, 238, 0.97);
  background-image: url("../images/paperbackGround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.results-container {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50vw;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Footer css */

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 5vh;
  background-color: rgb(205, 201, 201);
}